@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Page {
  background-color: rgb(110, 225, 245);
  font-family: 'Poppins', cursive ;
  display:flex;
  flex-direction: column;
  height:100vh;
  padding: 10vh 10vh 10vh 10vh;
  border-width: 5px;
  border-color:black;
}

.Header {
  display:flex;
  flex-direction: column;
  align-items: center ;
}

.Photo {
  border-radius: 5em;
  border-color: black;
  border-width: 5px;
  width:10em;
}

.Name {
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  
}

.Profile {
  /* justify-content: center; */
  display:flex;
  align-items: center;
  justify-content: flex-end ;
}

@media (max-width: 620px) {
  .Profile {   
    flex-direction: column;
  }
}

.Tab {
  margin: 10px 10px 10px 10px;
}

.Pages {
  margin: 20px 0px 20px 0px;
}